{% extends "base.html" %}
{% load static %}

{% block title %}Navigation | Home{% endblock title %}

{% block content %}
<div class="mb-5 d-flex gap-5 mx-5">
   <p><a href="{% url "about" %}">Navigation / About</a></p>
   <p><a href="{% url "contact" %}">Navigation / Contact</a></p>
</div>

<h1 class="text-center mb-5">This is navigation/home page.</h1>

<div class="mx-5">
    <p>Author: {{author}}</p>
    <p>Age: {{age}}</p>

    <!-- Template filtering -->
    <p>Birth Day: {{birthDay | date:"d D M Y"}}</p>
    <p>Best Book : {{bookList | join:", "}}</p>

    <!-- Conditional Statement-->
     {% if age >= 20%}
        <h3>You will get driving license</h3>
     {% elif age >= 10 and age <= 19 %}
        <h3>You won't get a driving license</h3>
     {% else %}
        <h3>You're a  child</h3>
     {% endif %}

     <!-- For loop -->
      {% for i in courses %}
      <h3>{{i.id}}{{" -> "}}{{i.name}}{{" -> "}}{{i.fees}}</h3>
      {% endfor %}
</div>

<div class="mx-5">
    <h1>Bird From Apps Static File</h1>
    <img src="{% static "bird2.jpeg" %}" alt="bird image">
</div>
{% endblock content %}