{% extends "base.html" %}

{% block content %}
<div class="mb-5 d-flex gap-5 mx-5">
  <p><a href="{% url "form" %}">First_App / Html-Form</a></p>
  <p><a href="{% url "django_form" %}">First_App / Django-Form</a></p>
  <p><a href="{% url "student_form" %}">First_App / Student-Form</a></p>
</div>

<form class="w-25 mx-auto" method="post">
  {% csrf_token %}

    <div class="mb-3">
      <label for="name" class="form-label">Your Name</label> 
      <input type="text" class="form-control" id="name" name="username" aria-describedby="nameHelp">
    </div>

    <div class="mb-3">
      <label for="emailId" class="form-label">Email address</label>
      <input type="email" class="form-control" id="emailId" name="useremail" aria-describedby="emailHelp">
    </div>

    <select class="form-select mb-5" name="select" aria-label="Default select example">
      <option selected>Ratings</option>
      <option value="1 star">*</option> 
      <option value="2 star">* *</option>
      <option value="3 star">* * *</option>
      <option value="4 star">* * * *</option>
      <option value="5 star">* * * * *</option>
    </select>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <div class="mx-5 my-5">
    <h1>Form Data :</h1>

    <h3>Name : {{name}}</h3>
    <p>Email : {{email}}</p>
    <p>Ratings : {{select}}</p>
  </div>
{% endblock content %}