{% extends "base.html" %}

{% block title %}First_App | Home{% endblock title %}

{% block content %}
<div class="mb-5 d-flex gap-5 mx-5">
    <p><a href="{% url "form" %}">First_App / Html-Form</a></p>
    <p><a href="{% url "django_form" %}">First_App / Django-Form</a></p>
    <p><a href="{% url "student_form" %}">First_App / Student-Form</a></p>
    <p><a href="{% url "password_validator" %}">First_App / Password-Validator</a></p>
 </div>

<h1 class="text-center mb-5">This is first_app/home page.</h1>

{% endblock content %}